@font-face {
    font-family: 'SourGummy-Bold';
    src: url(../Fonts/SourGummy-Bold.ttf);
}

@font-face {
    font-family: 'SourGummy-Light';
    src: url(../Fonts/SourGummy-Light.ttf);
}

@font-face {
    font-family: 'SourGummy-Medium';
    src: url(../Fonts/SourGummy-Medium.ttf);
}